* { box-sizing: border-box }

#searchbar {min-width: 60%; border-radius: 10px; padding: 15px 15px 15px 15px; margin: 10px; box-shadow: 4px 4px 6px 6px rgba(0,0,0,0.1); 
			border: none;}

#searchButton {background-color: white; padding: 15px 15px 15px 15px; box-shadow: 4px 4px 6px 6px rgba(0,0,0,0.1); margin: 10px 10px 10px 10px;
				border: none; color: rgba(0,0,0,0.7); border-radius: 5px}

#accButton {background-color: white; padding: 7px 7px 7px 7px; box-shadow: 4px 4px 6px 6px rgba(0,0,0,0.1); margin: 10px 10px 10px 10px;
			border: none; color: rgba(0,0,0,0.7); border-radius: 5px; text-decoration: none; font-size: 12px}
#accButton:hover {background-color: rgba(0,0,0,0.2); cursor: pointer}

#searchButton:hover {background-color: rgba(0,0,0,0.2); cursor: pointer}
				
#searchbarWrapper {min-width: 100%; padding: 15px 15px 15px 15px}

#navigationWrapper {grid-area: nav; text-align: center}

#categoriesWrapper {box-shadow: 4px 4px 8px 8px rgba(0,0,0,0.05);
					background-color: rgba(0,0,0,0.2); grid-area: cateWrapper; text-align: center}

#category {padding: 15px 15px 15px 15px; min-width: 100px; color: rgba(0,0,0,0.7); position: relative}

#category:hover {background-color: rgba(0,0,0,0.2); cursor: pointer; display: block}
#category:hover #item {display: block}
#category:hover #subCategory { box-shadow: 4px 4px 8px 8px rgba(0,0,0,0.06)}

#subCategory {position: absolute; top: 0px; left: 100%;}

#item {display: none; text-decoration: none; padding: 15px 45px 15px 45px; background-color: rgba(0,0,0,0.01);  position: relative;
		z-index: 1;}
#item:hover {background-color: rgba(0,0,0,0.15); cursor: pointer;}

#upleftcorner {grid-area: upleft; height: 100px}

#main { display: grid; grid-area: main }

#Home {text-decoration: none; padding: 15px 45px 15px 45px; background-color: rgba(0,0,0,0.01); color: rgba(0,0,0,0.7)}

#view {grid-area: view}

body { display: grid; background-color: rgba(0,0,0,0.03);
		grid-template-areas:
		'upleft main main main main main'
		'cateWrapper view view view view view';
		}
		

		

		