<!DOCTYPE html>
<html>
<header>

</header>
<body ng-controller = "main">
	
	<form method = "POST" action = "/AddItem">
		
	</form>
	
	<div ng-repeat = "(x,y) in items">{{x}}</div>
</body>
</html>