<!DOCTYPE html>
<html>
<head>
	<title>
		Home Page
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type = "text/css" href = "Style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body ng-app = "main" ng-controller = "main">
	<div id = "upleftcorner">
		
	</div>
	<div id = "main">
		<form method = "POST" action = "">
			<div id = "misc">
			</div>
			<div id = "navigationWrapper">
				<div id = "searchbarWrapper">
					<input type = "search" placeholder = "Search" id = "searchbar"><button type = "submit" id = "searchButton"> Search </button> 
					<a id = "accButton"> Sign In </a> <a id = "accButton"> Sign Up </a>
				</div>
			</div>
		</form>
	</div>
	
	<div id = "view" ng-view></div>
	<div id = "categoriesWrapper">
		<form method = "POST" action = "/AddCategory">
			<p>Add Category : </p> <input type = "text" name = "addCategory" placeholder = "Category" id = "addCategory"><button type = "submit" id = "submitCategory">Add</button>
		</form>
		<form method = "POST" action = "/AddItem">
			<select name = "Category">
				<option 
			</select>
		</form>
		<div id = "category"><a href = "#!" id = "Home">Home</a>
		</div>
		<div id = "category" ng-repeat = "(x,y) in category">{{x}}
			<div id = "subCategory"><a ng-click = "changeCategory(t)" href = "#!listing" id = "item" ng-repeat = "(z,t) in y" >{{z}}</a></div>
		</div>
	</div>

	<script>
		var app = angular.module('main', ['ngRoute']);
		
		app.config(function($routeProvider){
			$routeProvider
			.when("/", {
				templateUrl : "Home.html",
				controller : "main"
				})
			.when("/listing",{
				templateUrl : "Listing.html",
				controller : "main"
			});
		});
		
		var cate = {"Category1": {"Item1" : ["item1","item2","item3","item4"], "Item2" : ["item5","item6","item7","item8"], "Item3" : ["item9","item10","item11","item12"]},
					"Category2": {"Item1" : ["item1","item2","item3","item4"], "Item2" : ["item5","item6","item7","item8"], "Item3" : ["item9","item10","item11","item12"]},
					"Category3": {"Item1" : ["item1","item2","item3","item4"], "Item2" : ["item5","item6","item7","item8"], "Item3" : ["item9","item10","item11","item12"]}};
					
		var current = cate["Category1"]["Item1"];
		
		app.controller("main", function($scope){
			$scope.category = cate;
			$scope.changeCategory = function(category){
				$scope.display = category;
			};
		});
		
	</script>	
</body>
</html>