<!DOCTYPE html>
<html>

<head>

    <title>Client</title>
	<script src = "/socket.io/socket.io.js"></script>
</head>

<body>

    <img src="">
	<div id = "div"></div>
    <script>

        // get img dom element

        const img = document.querySelector('img');

        

        /*const WS_URL = 'ws://localhost:3001';

        const ws = new WebSocket(WS_URL);

        ws.onopen = () => console.log(`Connected to ${WS_URL}`);

        ws.onmessage = message => {
			
			img.src = message.data;

        }*/
		/*setInterval(function(){
		}, 17);*/
		
		var socket = io();
		socket.on('image', function(data) {
			img.src = "data:image/jpg;base64," + data;
      });

    </script>

</body>

</html>