<html>

<head>

    <title>Client</title>
	<script src = "/socket.io/socket.io.js"></script>
</head>

<body>

    <img src="">

    <script>

        // get img dom element

        const img = document.querySelector('img');

        

        /*const WS_URL = 'ws://localhost:3001';

        const ws = new WebSocket(WS_URL);

        ws.onopen = () => console.log(`Connected to ${WS_URL}`);

        ws.onmessage = message => {
			
			img.src = message.data;

        }*/
		var socket = io();
		socket.on('newmsg', function(data) {
			img.src = data.message;
      })

    </script>

</body>

</html>